<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppServerBaseUrl" value="http://localhost:8282/testapp/v1" />
    <add key="Logging.LogToEventLog" value="false" />
    <add key="Logging.LogToSeqServer" value="true" />
    <!--<add key="Seq.ServerUrl" value="http://localhost:5341/" />
    <add key="Seq.ApiKey" value="" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="Logs\sandbox-clientapp-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="14" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] {MachineName} v{AppVersion} {Message}{NewLine}{Exception}" />-->
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>